img,
.marca {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.header_menu {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header_menu a {
  font-size: 18px;
  display: block;
  background: #ffffff;
  padding: 0.94rem 1.9rem;
  border-radius: 0.25rem;
  color: #000000;
  border: 2px solid white;
}
