.footer {
  background: #000;
}

.footer-container {
  padding: 120px 20px 60px 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #fff;
}

.footer-copy {
  grid-template-columns: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 850px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-container li {
    font-size: 1.5rem;
  }
}
